#boton1{
    border: 1px solid #5d91e5; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #3d17b0; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
    }
#boton2{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #31c3b7; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
}

#boton3{
      border: 1px solid #e193dd; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #3b3680; /*color botón*/
    color: #13e525; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-size: larger; /*tamaño texto*/
    border-radius: 50px; /*bordes redondos*/
}

